# PUBLIC CONFIG
NEXT_PUBLIC_APP_URL=http://localhost:3000
# END PUBLIC CONFIG

# DATABASE CONFIG
DATABASE_URL="mysql://root:@localhost:3306/meg"
# END DATABASE CONFIG

# BETTER AUTH 
# openssl rand -base64 32
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=
# END BETTER AUTH 
